@model PetActivityTracker.Models.PetActivity

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PetActivity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consumption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consumption)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PetActivityID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
