@model IEnumerable<PetActivityTracker.Models.PetActivity>

@{
    ViewData["Title"] = "Index";
    PetActivityTracker.Models.Pet pet = (PetActivityTracker.Models.Pet)TempData["Pet"];
}

<h1>@pet.PetName's Activities</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Activity)
            </th>
            <th>
                Start Time
            </th>
            <th>
                Duration
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consumption)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Activity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @item.EndTime.Subtract(item.StartTime).Seconds
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consumption)
            </td>
        </tr>
}
    </tbody>
</table>
